<input type="checkbox" id="hamburger">
    <label for="hamburger">
        <span class="burger">
            <span class="bar"></span>
            <span class="menu-nav-text">Menu</span>
            <span class="menu-nav-close">Close</span>
        </span>
    </label>
    <label class="light-dark" for="hamburger"></label>
    <label class="light-dark" for="hamburger"></label>
    <div id="menu">
        <% if user_signed_in? %>
            <%= link_to "Home", root_path %>
            <%= link_to "Works", posts_path %>
            <%= link_to "Profile", users_path %>
            <%= link_to "About", about_path %>
            <%= link_to "Post", new_post_path %>
        <% else %>
            <%= link_to "Home", root_path %>
            <%= link_to "Works", posts_path %>
            <%= link_to "Profile", users_path %>
            <%= link_to "About", about_path %>
        <% end %>
    </div>



<header class="animationLogo">
    <div class="header_wrapper">
        <div class="background">
            <p>BashoMatuo</p>
        </div>
        <video id="video" playsinline autoplay muted>
            <source src="/assets/France2.mp4" type="video/mp4">
        </video>
    </div>
</header>







