<div class="post-show">
	<p>詳細</p>
	<% @post.images.each do |image| %>
		<%= attachment_image_tag image, :image, fallback: "no_image.jpg", size: '450x300' %>
	<% end %>
	<p><%= @post.title %></p>
	<p><%= simple_format(@post.body) %></p>
	<% if user_signed_in? %>
		<p><%= link_to "編集", edit_post_path(@post) %></p>
		<p>写真を追加する</p>
		<%= form_for [@post, @image] do |f| %>
			<%= f.attachment_field :image %>
			<%= f.submit '追加' %>
		<% end %>
	<% end %>
</div>